#ToolTip{ position: absolute; visibility: hidden; z-index: 800; width:280px; height:30; filter: alpha(opacity=90); opacity: .9}
.tooltiptitle{COLOR: #ffffff; font-size: 15px; font-weight: bold; font-family:Verdana, Arial, Helvetica, sans-serif;}
.tooltipcontent{COLOR: #333333; font-size: 11px; font-family:Verdana, Arial, Helvetica, sans-serif;}